<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient" version="2.1.7" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient.SNI" version="5.1.1" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore" version="3.1.1" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.Abstractions" version="3.1.1" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.Analyzers" version="3.1.1" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="3.1.1" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.SqlServer" version="3.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="3.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Caching.Memory" version="3.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="3.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="3.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.1" targetFramework="net472" />
  <package id="Microsoft.Identity.Client" version="4.58.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Abstractions" version="7.2.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="7.2.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="7.2.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols" version="7.2.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="7.2.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="7.2.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.7.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net472" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="7.2.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="8.0.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>