*.[Rr]e[Ss]harper
*[Rr]e[Ss]harper.user
_[Rr]e[Ss]harper.*/

[Ss]tyle[Cc]op.[Cc]ache

[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Bb]uild/
[Dd]ist/
[Cc]lient[Bb]in/
[Pp]ublish/
[Pp]ackages/

*.suo
*.sln.cache
*.user
*.vssscc
*.vspscc
*.[Pp]ublish.xml

[Tt]est[Rr]esults/
[Tt]est[Rr]esult.xml

*.dotCover
*.ndproj
/NDependOut
.idea
.dbshell
*.vspx
*.psess
*.nupkg
*/*.ide/*
