name: Main workflow

on: [push]

jobs:
  build:

    runs-on: windows-latest
    
    env:
      Prerelease: ci

    steps:
    - name: Print GITHUB_RUN_NUMBER
      run: |
        echo "GITHUB_RUN_NUMBER is ${env:GITHUB_RUN_NUMBER}"
          
    - uses: actions/checkout@v2
     
    - name: Build Projects
      run: |
        dotnet build ./src/LinqKit.Core/LinqKit.Core.csproj -c ReleaseForGithubActions
        dotnet build ./src/LinqKit/LinqKit.csproj -c ReleaseForGithubActions
        dotnet build ./src/LinqKit.EntityFramework/LinqKit.EntityFramework.csproj -c ReleaseForGithubActions
        dotnet build ./src/LinqKit.Microsoft.EntityFrameworkCore/LinqKit.Microsoft.EntityFrameworkCore.csproj -c ReleaseForGithubActions
        dotnet build ./src/LinqKit.Microsoft.EntityFrameworkCore2/LinqKit.Microsoft.EntityFrameworkCore.csproj -c ReleaseForGithubActions
        dotnet build ./src/LinqKit.Microsoft.EntityFrameworkCore3/LinqKit.Microsoft.EntityFrameworkCore.csproj -c ReleaseForGithubActions
        dotnet build ./src/LinqKit.Microsoft.EntityFrameworkCore31/LinqKit.Microsoft.EntityFrameworkCore.csproj -c ReleaseForGithubActions
        dotnet build ./src/LinqKit.Microsoft.EntityFrameworkCore5/LinqKit.Microsoft.EntityFrameworkCore.csproj -c ReleaseForGithubActions
        dotnet build ./src/LinqKit.Microsoft.EntityFrameworkCore6/LinqKit.Microsoft.EntityFrameworkCore.csproj -c ReleaseForGithubActions
        dotnet build ./src/LinqKit.Z.EntityFramework.Classic/LinqKit.Z.EntityFramework.Classic.csproj -c ReleaseForGithubActions
    
    - name: Run Tests
      run: |
        dotnet test ./tests/LinqKit.Tests/LinqKit.Tests.csproj -c ReleaseForGithubActions
        dotnet test ./tests/LinqKit.EntityFramework.Tests.Net452/LinqKit.EntityFramework.Tests.Net452.csproj -c ReleaseForGithubActions
        dotnet test ./tests/LinqKit.Microsoft.EntityFrameworkCore31.Tests -c ReleaseForGithubActions
        dotnet test ./tests/LinqKit.Microsoft.EntityFrameworkCore5.Tests -c ReleaseForGithubActions
        dotnet test ./tests/LinqKit.Microsoft.EntityFrameworkCore6.Tests -c ReleaseForGithubActions  
